<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
    {% if post %}
        <h2>{{ post.title_text }}</h2>
        {% if error_message %} <p><strong>{{ error_messege }}</strong></p> {% endif %}
        <ul>
            {% for comment in post.comment_set.all %}
                <li>{{ comment.writer }} - {{ comment.contents_text }} ({{ comment.pub_date }})</li>
            {% endfor %}
        </ul>
        <form action="{% url 'pollsplus:addcomments' post.id %}" method="post">{% csrf_token %}
            {% if username %}
                Writer : <br><input type="text" name="writer" required readonly value="{{ username }}"><br>
            {% else %}
                Writer : <br><input type="text" name="writer" required placeholder="작성자"><br>
            {% endif %}
            Content : <br><textarea name="contents" cols="40" rows="4" wrap="hard" required placeholder="내용을 입력하세요."></textarea>
            <input type="submit" value="댓글 등록">
        </form>
    {% else %}
        <p>Comments are not exist</p>
    {% endif %}
</body>
</html>