{% extends 'pollsplus/base.html' %}

{% block content %}
<br>
<h1>Edit Post</h1>

<form  method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}{{ form.as_p }}
    <div class="form-group">
        <label class="col-form-label" for="inputTitle">Title</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputTitle" name="title_text" required placeholder="제목" value="{{ post.title_text }}">
    </div>
    {% if username %}
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Writer</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault" name="writer" required readonly value="{{ username }}">
    </div>
    {% else %}
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Writer</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault" name="writer" required placeholder="작성자">
    </div>
    {% endif %}
    <div class="form-group">
        <label class="col-form-label" for="inputContent">Content</label>
        <textarea class="form-control" id="inputContent" rows="3" name="contents"></textarea>
    </div>

    Photos : <input type="file" name="file"><br>
    <br>
    <input type="submit" class="btn btn-primary" value="submit">
</form>
{% endblock %}